* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #d87093;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagem {
    width: 100px;
    height: 100px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover {
    color: rgb(248, 204, 219);
}

